body{
    border: 5px yellow solid;
}

#about-us{
    border: 5px purple solid;
}

#contact-us{
    border: 8px rgb(3, 139, 139) solid;
}

.thbsp1 {
    font-size: 50px;
}

.thbsp2 {
    background-color: rgb(157, 255, 0);
}

